.selectric-wrapper
    position relative
    cursor pointer

.selectric-responsive
    width 100%

.selectric
    border 1px solid rgb(225, 225, 225)
    background-color #FFF
    position relative
    .label
        display block
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        margin 0 10px 0 10px
        font-size 14px
        line-height 30px
        color #444
        height 30px
        user-select none
    .button
        display block
        position absolute
        right 0
        top 0
        width 30px
        height 30px
        color #BBB
        font-size 0px
        text-align center
        background-image inline("iconSelectDown.png")
        background-repeat no-repeat
        background-position center center
        &:after
            content " "
            position absolute
            top 0
            right 0
            bottom 0
            left 0
            margin auto
            width 0
            height 0
            border 4px solid transparent
            bordercolor #BBB
            border-bottom none

.selectric-hover
    .selectric
        border-color #C4C4C4
        // .button
        //     color #A2A2A2
        //     &:after
        //         border-color #A2A2A2

.selectric-open
    z-index 9999
    .selectric
        border-color #C4C4C4
    .selectric-items
        display block

.selectric-disabled
    opacity 0.5
    cursor default
    user-select none

.selectric-hide-select
    position relative
    overflow hidden
    width 0
    height 0
    select
        position absolute
        left -100%
        display none

.selectric-input
    position absolute !important
    top 0 !important
    left 0 !important
    overflow hidden !important
    clip rect(0, 0, 0, 0) !important
    margin 0 !important
    padding 0 !important
    width 1px !important
    height 1px !important
    outline none !important
    border none !important
    *font 0/0 a !important
    background none !important

.selectric-temp-show
    position absolute !important
    visibility hidden !important
    display block !important

.selectric-items
    display none
    position absolute
    top calc(100% - 1px)
    left 0
    background #FFF
    border 1px solid #C4C4C4
    z-index -1
    box-shadow 0 0 10px -6px
    .selectric-scroll
        height 100%
        overflow auto
    li
        display block
        padding 4px 10px
        color #666
        cursor pointer
        &.selected
            background #EFEFEF
            color #444
        &:hover
            background #F0F0F0
            color #444
    .disabled
        opacity 0.5
        cursor default !important
        background none !important
        color #666 !important
        user-select none
    .selectric-group
        .selectric-group-label
            font-weight bold
            padding-left 10px
            cursor default
            user-select none
            background none
            color #444
        &.disabled
            li
                opacity 1
        li
            padding-left 25px

.selectric-above
    .selectric-items
        top auto
        bottom 100%

.selectric-items ul
    list-style none
    padding 0
    margin 0
    color rgb(129, 128, 129)
    font-family 'Roboto', sans-serif
    font-size 14px
    font-weight 300
    line-height 20px
