.payPopup
    display block
    position absolute
    left center
    top 20%
    width 600px
    background-color white
    box-shadow 1.1px 3.8px 5px rgba(0, 0, 0, 0.14)
    box horizontal top
    visibility hidden
    opacity 0
    z-index 0
    transition all .5s
    +below(625px)
        width 320px
        box vertical top
        top 60px
        left center
        margin-left -5%
.payPopupShow
    visibility visible
    opacity 1
    z-index 5000
.payPopupClose
    display block
    position absolute
    top 8px
    right 8px

.payPopupLeft
    flex 0 0 auto
    background-image url("../img/payBG.jpg")
    background-size cover
    align-self stretch
    padding 50px 30px
    +below(625px)
        padding 30px 30px 20px

.payPopupSelect
    display block
    clear fix

.payPopupSelectHeader
    color white
    font-family 'Roboto', sans-serif
    font-size 14px
    font-weight 300
    line-height 18px
    margin-bottom 35px
    +below(625px)
        margin-bottom 10px
.payPopupSelectCheckboxs
    padding-left 40px
    margin-bottom 20px
    label
        .icheckbox
            margin-right 10px
            vertical-align baseline
        color white
        font-family 'Roboto', sans-serif
        font-size 14px
        line-height 14px
        font-weight 300
        span
            font-weight 500
        b
            font-weight 700
    +below(625px)
        display none
.payPopupSelectMobile
    display none
    margin-bottom 10px
    +below(625px)
        display block
.payPopupCreditNow
    box horizontal top center
    color white
    font-family 'Roboto', sans-serif
    line-height 18px
    font-size 12px
    font-weight 400
    clear fix
    b
        font-size 18px
        font-weight 500
    span
        display block
        color white
        font-family 'Roboto', sans-serif
        font-size 10px
        font-weight 300
        line-height 18px
    &Wrap
        flex 0 0 auto
        align-self center

.payPopupRight
    flex 1
    padding 30px 15px
    align-self stretch
    box vertical left top
.payPopupItems
    flex 1
    align-self stretch
    box vertical left space-between

.payPopupItem
    flex 0 0 auto
    width 100%
    margin-bottom 10px
    &:last-child
        margin-bottom 0px

.payPopupSystems
    box horizontal middle left

.payPopupSystemVisa
    flex 0 0 auto
.payPopupSystemVisaLabel
    box horizontal middle flex-start
    span
        flex 0 0 auto
        size 138px 21px
        background-image inline("iconVisa.png")
        background-repeat no-repeat
    .iradio
        flex 0 0 13px
.payPopupSystemPaypal
    flex 0 0 auto

.payPopupSystemPaypalLabel
    box horizontal middle left
    margin-left 20px
    span
        flex 0 0 auto
        size 68px 22px
        background-image inline("iconPaypal.png")
        background-repeat no-repeat
    .iradio
        flex 0 0 13px
        margin-right 0px
.payPopupItemRow
    box horizontal middle left
.payPopupItemColumn
    flex 0 0 40%
    &:first-child
        margin-right 20px

    input
        width 71px
