.buttonOutline
    display inline-block
    background-color white
    border 1px solid rgb(225, 225, 225)
    border-radius 2px 3px 3px 2px
    height 19px
    color rgb(40, 40, 40)
    font-family 'Roboto', sans-serif
    font-size 12px
    font-weight 400
    line-height 12px
    outline 0
    transition all .3s
    &:hover
        background-color rgb(235, 15, 83)
        color #fff
        border-color rgb(235, 15, 83)


.buttonBigOutline
    display inline-block
    background-color white
    border 1px solid rgb(235, 15, 83)
    border-radius 3px
    height 33px
    color rgb(235, 15, 83)
    font-family 'Roboto', sans-serif
    font-size 14px
    font-weight 300
    line-height 18px
    padding 0px 14px
    white-space nowrap
    outline 0
    transition all .3s
    &:hover
        //background-color rgb(235, 15, 83)
        //color #fff
        border-color rgb(235, 15, 83)
    +below(830px)
        height 27px
        font-size 11px
        font-weight 300
        line-height 15px

    &Active
        background-color rgb(235, 15, 83)
        color #fff
        .buttonBigOutlineIconInvite
            background-image inline("iconInviteActive.png")
    &[disabled]
        border 1px solid rgb(235, 235, 235)
        color rgb(235, 235, 235)
        .buttonBigOutlineIconChat
            background-image inline("iconChatDisabled.png")
        .buttonBigOutlineIconInvite
            background-image inline("iconInviteDisabled.png")
.buttonBigOutlineIconOnly
    width 33px
    padding 0
    +below(830px)
        width 27px
.buttonBigOutlineIcon
    display inline-block
    vertical-align middle
    background-repeat no-repeat
    background-position center center
    margin-right 10px
    size 21px
    +below(830px)
        size 17px
        margin-right 6px
        background-size 17px
.buttonBigOutlineIconChat
    background-image inline("iconChat.png")

.buttonBigOutlineIconInvite
    background-image inline("iconInvite.png")

.buttonBigOutlineIconPause
    background-image inline("iconPause.png")
    size 11px 18px
    +below(830px)
        background-size 10px
.buttonBigOutlineIconEndCall
    size 18px
    background-image inline("iconEndCall.png")

.buttonBigOutlineIconDelete
    margin-right 0
    background-image inline("iconDelete.png")

.buttonOutlineRound
    display inline-block
    background-color transparent
    border 1px solid white
    border-radius 10px
    height 19px
    color #fff

    font-family 'Roboto', sans-serif
    font-size 10px
    font-weight 300
    padding 0 15px
    outline 0
    transition all .3s


.buttonRed
    display block
    width 100%
    background-color rgb(235, 15, 83)
    border 1px solid rgb(235, 15, 83)
    border-radius 3px
    color white
    font-family 'Roboto', sans-serif
    font-size 14px
    font-weight 400
    line-height 18px
    height 33px
    outline 0
    transition all .3s
    &:hover
        background-color darken(rgb(235, 15, 83), 20%)
        border-color darken(rgb(235, 15, 83), 20%)
.buttonRedBig
    display block
    width 100%
    background-color rgb(235, 15, 83)
    border 1px solid rgb(235, 15, 83)
    border-radius 4px
    color white
    font-family 'Chalet-ParisNineteenSixty'
    font-size 22px
    font-weight 400
    line-height 22px
    padding 0 40px
    height 50px
    outline 0
    transition all .3s
    &:hover
        background-color darken(rgb(235, 15, 83), 20%)
        border-color darken(rgb(235, 15, 83), 20%)
.buttonClose
    display block
    size 10px
    background-image inline("iconClose.png")
    background-color transparent
    background-repeat no-repeat
    background-position center center
    border 0
    outline 0
    transition all .3s
    &:hover
        transform rotate(180deg)

.buttonVideoMic
    display inline-block
    size 21px 20px
    background-image inline("iconMic.png")
    background-color transparent
    background-repeat no-repeat
    background-position center center
    border 0
    outline 0
.buttonVideoFrame
    display inline-block
    size 21px 20px
    background-image inline("iconVideo.png")
    background-color transparent
    background-repeat no-repeat
    background-position center center
    border 0
    outline 0
.buttonSimple
    border 0
    outline 0
    background-color transparent
    font-family 'Roboto', sans-serif
    font-size 10px
    font-weight 300
    line-height 18px
    color rgb(147, 147, 147)
    &:hover
        color darken(rgb(147, 147, 147), 20%)
    &Active
        color rgb(235, 15, 83)

.buttonFacebook
    display inline-block
    width 100%
    position relative
    color white
    font-family 'Chalet-ParisNineteenSixty'
    font-size 16px
    line-height 48px
    text-align left
    height 48px
    background-color #316ce6
    border 0
    outline 0
    padding 0 20px 0 65px
    &:after
        display block
        position absolute
        left 0px
        top center
        content ''
        background-image inline("facebook.svg")
        background-position center center
        background-size 25px
        background-repeat no-repeat
        size 48px 40px
        border-right 1px solid rgba(#fff, 0.2)
    &:hover
        background-color darken(#316ce6, 20%)

.buttonGoogle
    display inline-block
    width 100%
    position relative
    color white
    font-family 'Chalet-ParisNineteenSixty'
    font-size 16px
    line-height 48px
    text-align left
    height 48px
    background-color #f85530
    border 0
    outline 0
    padding 0 20px 0 65px
    &:after
        display block
        position absolute
        left 0px
        top center
        content ''
        background-image inline("google.svg")
        background-position center center
        background-size 25px
        background-repeat no-repeat
        size 48px 40px
        border-right 1px solid rgba(#fff, 0.2)
    &:hover
        background-color darken(#f85530, 20%)


.buttonUpload
    position relative
    height 28px
    background-image inline("arrowUpload.png")
    background-repeat no-repeat
    background-position right center
    font-family 'Chalet-ParisNineteenSixty'
    background-color transparent
    border 0
    outline 0
    font-size 22px
    line-height 35px
    padding 0 35px 0 0
    &Progress
        display block
        content ''
        background-color #333
        height 2px
        position absolute
        left 0
        bottom -5px
        width 0%
