.modal
    display block
    position absolute
    margin-bottom 20px
    box vertical
    left center
    //top center
    margin-top 50px
    background-color #FFF
    z-index 10000
    border-radius 6px
    padding 50px
    +below(767px)
        margin-top 50px
.modalMedium
    width 768px
    +below(767px)
        width 400px
.modalLarge
    width 1200px
    +below(1220px)
        width 768px
        .modalForm
            box vertical center
            .modalFormImage
                lost-column 1/1
                margin-bottom 30px
            .modalFormTabContent
                lost-column 1/1
    +below(767px)
        width 400px
        .modalForm
            box vertical center
            .modalFormImage
                lost-column 1/1
                margin-bottom 30px
            .modalFormTabContent
                lost-column 1/1
                .modalFormTabControl
                    display none
                .modalFormTabs
                    box vertical center
                    .modalFormTab
                        lost-column 1/1
.modalHeader
    font-family 'Chalet-ParisNineteenSixty'
    color rgb(235, 15, 83)
    font-size 31px
    line-height 35px
    text-align center
    margin-bottom 50px
    +below(768px)
        margin-bottom 20px
        font-size 24
        line-height 28px
.modalForm
    box horizontal top space-between
    +below(767px)
        box vertical
.modalFormLeft
    //lost-column 2/6
    flex 1 1 40%
    margin-right 20px
    box vertical left
    +below(767px)
        box vertical center
    button
        margin-bottom 20px

    p
        color rgba(black, .8)
        font-family 'Open Sans'
        font-size 15px
        font-weight 400
        line-height 24px
        text-align center
        margin-bottom 0
        +below(767px)
            margin-bottom 20px


.modalFormImageBox
    display block
    width 100%
    padding-top 20px
    //aspect-ratio '1:1'
    &Wrap
        text-align center
        img
            width 80%
            // top center
            // left center
    +below(767px)
        display none
.modalFormRight
    // lost-column 4/6
    box vertical left
    flex 1 1 60%

.modalFormItem
    width 100%
    margin-bottom 15px
    box horizontal middle space-between
    +below(767px)
        box vertical left
    p
        color rgba(black, .8)
        font-family 'OpenSans'
        font-size 15px
        font-weight 400
        line-height 24px
        text-align center
        margin-bottom 0
        a
            text-decoration underline
    a
        color rgba(black, .8)
        font-family 'OpenSans'
        font-size 15px
        font-weight 400
        line-height 24px
        text-decoration none
        color rgba(black, .8)
        &:hover
            text-decoration none

.modalFormItemVertical
    box vertical
.modalFormItemBottomBorder
    position relative
    &:before
        display block
        position absolute
        bottom -15px
        left center
        size 90px 1px
        background-color rgba(#000, .3)
        content ''
.modalFormItemTextCenter
    box horizontal middle center

.modalFormItemTextRight
    box horizontal middle right

.labelInline
    color rgb(64, 64, 65)
    font-family 'Chalet-ParisNineteenSixty'
    font-size 16px
    line-height 20px
    padding-right 15px
    white-space nowrap
    flex 0 1 auto
    +below(767px)
        display block
        margin-bottom 10px
.labelInlineCenter
    color rgb(64, 64, 65)
    font-family 'Chalet-ParisNineteenSixty'
    font-size 16px
    line-height 20px
    padding-right 7px
    padding-left 7px
    white-space nowrap
    flex 0 1 auto
.labelBlock
    display block
    width 100%
    color rgba(#000, .5)
    font-family 'Chalet-ParisNineteenSixty'
    font-size 18px
    line-height 22px
    padding-bottom 5px

.modalFormItemInputGroup
    box horizontal space-between
    flex 0 2 100%
.modalFormItemColumnThree
    margin-right 10px
    &:last-child
        margin-right 0

.modalFormImage
    lost-column 1/3

.modalFormImageHeader
    color rgba(black, .5)
    font-family 'Chalet-ParisNineteenSixty'
    font-size 38px
    line-height 35px
    text-align center
    margin-bottom 20px

.modalFormImageAvatar
    display block
    text-align center
    margin-bottom 20px
    &Wrap
        display inline-block
        size 180px
        border-radius 50%
        background-color #f5f3f2
        text-align center
        padding-top 22px
        img
            display inline-block
            size 125px

.modalFormImageButton
    text-align center

.modalFormTabContent
    lost-column 2/3
    box vertical

.modalFormTabControls
    box horizontal middle space-between
.modalFormTabControl
    lost-column 1/2 0 0
    text-align center
    height 50px
    font-size 18px
    line-height 50px
    color black
    font-family 'Chalet-ParisNineteenSixty'
    &Active
        background-color #f5f3f2
.modalFormTabs
    box horizontal middle space-between
    padding 20px 30px
    background-color #f5f3f2
.modalFormTab
    lost-column 1/2 0 40px
    background-color #f5f3f2


.modalFormFooter
    box horizontal middle space-between
    background-color #f5f3f2
    padding 0 30px 20px
    +below(767px)
        box vertical center
    button
        width 50%
        +below(767px)
            width 100%
    p
        color rgba(black, .8)
        font-family 'Open Sans'
        font-size 15px
        font-weight 400
        line-height 24px
        text-align center
        margin 0
    a
        color rgba(black, .8)
        font-family 'Open Sans'
        font-size 15px
        font-weight 400
        line-height 24px
        text-decoration none
        color rgba(black, .8)
        &:hover
            text-decoration none
