.switchery
    background-color #fff
    border 1px solid #dfdfdf
    border-radius 20px
    cursor pointer
    display inline-block
    height 20px
    position relative
    vertical-align middle
    width 35px
    user-select none
    user-select none
    box-sizing content-box
    background-clip content-box

.switchery > small
    background #fff
    border-radius 100%
    box-shadow 0 1px 3px rgba(0, 0, 0, 0.4)
    height 20px
    position absolute
    top 0
    width 20px

.switchery-small
    border-radius 20px
    height 20px
    width 30px
.switchery-small > small
        height 10px
        width 10px

.switchery-large
    border-radius 40px
    height 20px
    width 66px
    & > small
        height 40px
        width 40px
