doctype html
html(lang="en")
    head
        title Fiance.com
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0")
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,100italic,500&subset=latin,cyrillic' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300' rel='stylesheet' type='text/css')
        link(href='./css/blocks.css', type="text/css", rel="stylesheet")
        script(src="./js/preload.js")
        script(src="./js/flexibility.js")
        //- include _favicon.jade
        <!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
        <!--[if lt IE 9]><script src/="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
        //-  include _font.jade
        include _svg.jade
        include _mixin.jade


    body
        .overlay
        include block/payPopup.jade
        include block/creditPopup.jade
        
        include block/refillPopup.jade
        include block/header.jade
        block content
        script(src="./js/switchery.js")
        script(src="./js/app.js")
