extends _layout

block content
    .chat
        .userTab
            .userTabWrap
                .userTabMenu
                    .userTabItem.userTabItemActive
                        a(href="#")
                            | Pending Chats
                            span 12
                    .userTabItem.userTabItemMobile
                        a(href="#")
                            | On-Line
                    .userTabItem.userTabItemMobile
                        a(href="#")
                            | Recent
                        
                    .userTabItem.userTabItemMobile
                        a(href="#")
                            | Pending Chats
                    .userTabItem.userTabItemMobile
                        a(href="#")
                            | Favorites
                .userTabMobileMenu
                    button.buttonUserTabMenu
        .chats
            .chatColumn
                .chatControl
                    .chatControlAvatar
                        img(src="img/avatar.jpg", alt="")
                    .chatControlName
                        span Chat with:&nbsp
                        | Maria Kaminer
                    .chatControlButton
                        button.buttonBigOutline
                            .buttonBigOutlineIcon.buttonBigOutlineIconPause
                            | Pause
                        button.buttonBigOutline
                            .buttonBigOutlineIcon.buttonBigOutlineIconEndCall
                            | End Call
                .chatVideo
                    .chatVideoFrame
                        img(src="img/video.jpg", alt="")
                    .chatVideoControl
                        .chatVideoControlLeft
                            button.buttonVideoMic
                            button.buttonVideoFrame
                        .chatVideoControlRight
                            .chatVideoControlCamera
                                input(type="checkbox" checked).switch
                            .chatVideoControlCameraHide
                                span Hide my Camera
                                input(type="checkbox").iCheck
                    .chatVideoTiming
                        .chatVideoTimingLeft
                            span Time :&nbsp
                            | 00.01.30 min
                        .chatVideoTimingRight
                            b 20&nbsp
                            | Credits
                            button.buttonOutline + add
            .chatColumn
                .chatMessages
                    .chatMessageWindow
                        .chatMessageWindowWrap
                            .chatMessageIn
                                .chatMessageInText
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                .chatMessageInTime
                                    | 1m ago&nbsp
                                    span.chatMessageCheck
                                    span.chatMessageCheck
                            .chatMessageOut
                                .chatMessageOutText
                                    span
                                        | Lorem
                                    .chatMessageOutTranslate
                                        | Lorem ipsum
                                .chatMessageOutControl
                                    .chatMessageOutTime
                                        | 1m ago&nbsp
                                        span.chatMessageCheck
                                        span.chatMessageCheck
                                    .chatMessageOutButton
                                        button.buttonSimple.buttonSimpleActive Translated
                                        | |
                                        button.buttonSimple Like
                                        
                            .chatMessageIn
                                .chatMessageInText
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                .chatMessageInTime
                                    | 1m ago&nbsp
                                    span.chatMessageCheck
                                    span.chatMessageCheck
                            .chatMessageOut
                                .chatMessageOutText
                                    span
                                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                .chatMessageOutControl
                                    .chatMessageOutTime
                                        | 1m ago&nbsp
                                        span.chatMessageCheck
                                        span.chatMessageCheck
                                    .chatMessageOutButton
                                        button.buttonSimple Translated
                                        | |
                                        button.buttonSimple Like
                    .chatMessageSend
                        .chatMessageSendInput
                            textarea(placeholder="Type here")
                        .chatMessageSendControl
                            .chatMessageSendControlLeft
                                .chatMessageSendControlTranslate
                                    label.labelCheckbox
                                        input(type="checkbox").iCheck
                                        | Autotranslate
                            .chatMessageSendControlRight
                                .chatMessageSendControlFlowers
                                    button.chatMessageSendControlFlowerButton
                                        | Flowers
                                    .chatFlowerDrop
                                        .chatFlowerDropWrap
                                            - for (var i = 0; i < 10; ++i) {
                                                .chatFlowerDropItem
                                                    img(src="img/flower.jpg", width="40px" alt="")
                                            - }
                                .chatMessageSendControlFile
                                    button.chatMessageSendControlFileButton
                                .chatMessageSendControlSmile
                                    button.chatMessageSendControlSmileButton
                                    .chatSmileDrop
                                        .chatSmileDropWrap
                                            - for (var i = 0; i < 10; ++i) {
                                                .chatSmileDropItem
                                                    img(src="img/smile.png", width="26px" alt="")
                                            - }
                                .chatMessageSendControlSubmit
                                    button.buttonRedSmall Send
