extends _layout

block content
    .users
        .userTab
            .userTabWrap
                .userTabMenu
                    .userTabItem.userTabItemMobileHide.userTabItemActive
                        a(href="#")
                            | Pending Chats
                            span 12
                    .userTabItem.userTabItemMobileHide
                        a(href="#")
                            | On-Line
                    .userTabItem.userTabItemMobileHide
                        a(href="#")
                            | Recent

                    //- .userTabItem.userTabItemMobileHide
                    //-     a(href="#")
                    //-         | Pending Chats
                    .userTabItem.userTabItemMobileHide
                        a(href="#")
                            | Favorites
                .userTabMobileMenu
                    button.buttonUserTabMenu.js-mobileMenuShow
        //- .userMobileMenu
        //-     .userMobileMenuItems
        //-         .userMobileMenuItem.userMobileMenuItemHide
        //-             a(href="#")
        //-                 | Pending Chats
        //-                 span 12
        //-         .userMobileMenuItem
        //-             a(href="#")
        //-                 | On-line
        //-         .userMobileMenuItem
        //-             a(href="#")
        //-                 | Recent
        //-         .userMobileMenuItem
        //-             a(href="#")
        //-                 | Favorites

        .userItems
            .userItem
                .userItemWrap
                    .userItemInfos
                        .userItemAvatar
                            img(src="img/avatar.jpg", alt="")
                            include block/userPopup.jade
                        .userItemInfo
                            .userItemName
                                span Agnesa Selena
                                .usersItemNameFavorite.usersItemNameFavoriteActive
                            .userItemAge
                                span Age:
                                | 21
                            .userItemCountry
                                span Country
                                | USA
                            .userItemStatus
                                .status.statusOnline
                                    | Online
                    .userItemControl
                        .userItemInvite
                            | Invited you 10 min ago
                        .userItemButtons
                            button(disabled).buttonBigOutline
                                .buttonBigOutlineIcon.buttonBigOutlineIconChat
                                | Start Chat
                            button(disabled).buttonBigOutline
                                .buttonBigOutlineIcon.buttonBigOutlineIconInvite
                                | Invite
                            button.buttonBigOutline.buttonBigOutlineIconOnly
                                .buttonBigOutlineIcon.buttonBigOutlineIconDelete
            .userItem
                .userItemWrap
                    .userItemInfos
                        .userItemAvatar
                            img(src="img/avatar.jpg", alt="")
                        .userItemInfo
                            .userItemName
                                span Agnesa Selena
                                .usersItemNameFavorite
                            .userItemAge
                                span Age:
                                | 21
                            .userItemCountry
                                span Country
                                | USA
                            .userItemStatus
                                .status.statusBusy
                                    | Busy
                    .userItemControl
                        .userItemInvite
                            | Invited you 10 min ago
                        .userItemButtons
                            button.buttonBigOutline
                                .buttonBigOutlineIcon.buttonBigOutlineIconChat
                                | Start Chat
                            button.buttonBigOutline.buttonBigOutlineActive
                                .buttonBigOutlineIcon.buttonBigOutlineIconInvite
                                | Invite
                            button.buttonBigOutline.buttonBigOutlineIconOnly
                                .buttonBigOutlineIcon.buttonBigOutlineIconDelete
