extends _layout

block content
    .overlay.overlayShow
    .modal.modalLarge
        .modalHeader
            | Welcome to Fiance.com! Please create your profile.
        .modalForm
            .modalFormImage
                .modalFormImageHeader
                    | Tell us about yourself
                .modalFormImageAvatar
                    .modalFormImageAvatarWrap
                        img(src="img/avatar-empty.png", alt="")
                .modalFormImageButton
                    button.buttonUpload
                        | Upload a Photo
                        .buttonUploadProgress(style="width:40%")
            .modalFormTabContent

                .modalFormTabControls
                    .modalFormTabControl.modalFormTabControlActive
                        | My Information
                    .modalFormTabControl
                        | Woman/Man I am looking for
                .modalFormTabs
                    .modalFormTab.modalFormTabActive
                        .modalFormItem
                            select.selectNative(placeholder="Your Hair Color")
                                option Your Hair Color
                        .modalFormItem
                            label.labelInline
                                | Your Height
                            input.inputModal.inputModalSmall(placeholder="cm")
                            label.labelInlineCenter
                                | or
                            input.inputModal.inputModalSmall.inputModalMarginRight(placeholder="Ft")
                            input.inputModal.inputModalSmall(placeholder="In")
                        .modalFormItem
                            label.labelInline
                                | Your Height
                            input.inputModal.inputModalSmall(placeholder="kg")
                            label.labelInlineCenter
                                | or
                            input.inputModal.inputModalSmall(placeholder="Lbs")
                        .modalFormItem
                            select.selectNative(placeholder="Your Hair Color")
                                option Your Eyes Color
                        .modalFormItem.modalFormItemVertical
                            label.labelBlock My Lifestyle
                            textarea.textareaModal(placeholder="Tell us about your hobbies, interests and more")
                    .modalFormTab.modalFormTabActive
                        .modalFormItem
                            select.selectNative(placeholder="Your Marital Status")
                                option Your Marital Status
                        .modalFormItem
                            select.selectNative(placeholder="Number of Children")
                                option Number of Children
                        .modalFormItem
                            select.selectNative(placeholder="Your education level ")
                                option Your education level
                        .modalFormItem
                            select.selectNative(placeholder="Your Hair Color")
                                option Your religion
                        .modalFormItem.modalFormItemVertical
                            label.labelBlock My Work
                            textarea.textareaModal(placeholder="Tell us about what type of work do you do")
                .modalFormFooter
                    a(href="#") Go back
                    button.buttonRedBig Continue
                    p Step 1 of 5
