extends _layout

block content
    .overlay.overlayShow
    .modal.modalMedium
        .modalHeader
            | Register Free to start your search. <br> See beautiful Women Interested in You!
        .modalForm
            .modalFormLeft.modalFormBgHeart
                button.buttonFacebook
                    | Sign in with Facebook
                button.buttonGoogle
                    | Sign in with Google
                p
                    | We will not post anything to your profile
                .modalFormImageBox
                    .modalFormImageBoxWrap
                        img(src="img/heart.png", alt="")
            .modalFormRight
                .modalFormItem
                    input.inputModal(placeholder="Enter email address")
                .modalFormItem
                    input.inputModal(placeholder="Choose password")
                .modalFormItem
                    label.labelInline
                        | Birthday
                    .modalFormItemInputGroup
                        .modalFormItemColumnThree
                            select.selectNative(placeholder="Month")
                                option Month
                        .modalFormItemColumnThree
                            select.selectNative(placeholder="Day")
                                option Day
                        .modalFormItemColumnThree
                            select.selectNative(placeholder="Year")
                                option Year
                .modalFormItem
                    button.buttonRedBig Sign Up Free and Continue
                .modalFormItem.modalFormItemBottomBorder
                    p
                        | By registering above I agree to Fiance.com&nbsp
                        a(href="#") terms of use

                .modalFormItem.modalFormItemTextCenter
                    p 
                        | Already a member? 
                        a(href="#") Click here to login
