extends _layout

block content
    .overlay.overlayShow
        
    .modal.modalMedium
        .modalHeader
            | Register Free to start your search. <br> See beautiful Women Interested in You!
        .modalForm
            .modalFormLeft.modalFormBgHeart
                button.buttonFacebook
                    | Sign in with Facebook
                button.buttonGoogle
                    | Sign in with Google
                p
                    | We will not post anything to your profile
                .modalFormImageBox
                    .modalFormImageBoxWrap
                        img(src="img/heart.png", alt="")
            .modalFormRight
                .modalFormItem
                    input.inputModal(placeholder="Username (will be show on your profile)")
                .modalFormItem
                    input.inputModal(placeholder="Your Full Name")
                .modalFormItem
                    input.inputModal(placeholder="Your Country: United States")
                .modalFormItem
                    input.inputModal(placeholder="Your City")

                .modalFormItem
                    button.buttonRedBig Complete Registration
                .modalFormItem.modalFormItemTextRight
                    a(href="#") Go Back
