.status
    color rgb(110, 110, 110)
    font-family 'Roboto', sans-serif
    font-size 12px
    font-weight 300
    line-height 18px
    
.statusWhite
    color white
    font-family 'Roboto', sans-serif
    font-size 12px
    font-weight 300
    line-height 18px

.statusOnline
    &:before
        display inline-block
        content ' '
        size 8px
        border-radius 4px
        margin-right 4px
        background-color rgb(85, 219, 85)
.statusBusy
    &:before
        display inline-block
        content ' '
        size 8px
        border-radius 4px
        margin-right 4px
        background-color rgb(251, 175, 93)
