@font-face { font-family: 'Chalet-ParisNineteenSixty'; src: url('Chalet-ParisNineteenSixty.eot?#iefix') format('embedded-opentype'), url('Chalet-ParisNineteenSixty.otf') format('opentype'), url('Chalet-ParisNineteenSixty.woff') format('woff'), url('Chalet-ParisNineteenSixty.ttf') format('truetype'), url('Chalet-ParisNineteenSixty.svg#Chalet-ParisNineteenSixty') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Chalet-ParisNineteenSeventy'; src: url('/Chalet-ParisNineteenSeventy.eot?#iefix') format('embedded-opentype'), url('/css/Chalet-ParisNineteenSeventy.otf') format('opentype'), url('/css/Chalet-ParisNineteenSeventy.woff') format('woff'), url('/css/Chalet-ParisNineteenSeventy.ttf') format('truetype'), url('/css/Chalet-ParisNineteenSeventy.svg#Chalet-ParisNineteenSeventy') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Chalet-ParisNineteenEighty'; src: url('/Chalet-ParisNineteenEighty.eot?#iefix') format('embedded-opentype'), url('/css/Chalet-ParisNineteenEighty.otf') format('opentype'), url('/css/Chalet-ParisNineteenEighty.woff') format('woff'), url('/css/Chalet-ParisNineteenEighty.ttf') format('truetype'), url('/css/Chalet-ParisNineteenEighty.svg#Chalet-ParisNineteenEighty') format('svg'); font-weight: normal; font-style: normal; }