@lost flexbox flex;
*
  box-sizing border-box
  -webkit-font-smoothing antialiased
  -webkit-overflow-scrolling none

@font-face
    font-family 'Chalet-ParisNineteenSixty'
    src url('../fonts/Chalet-ParisNineteenSixty.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'Chalet-ParisNineteenSeventy'
    src  url('../fonts/Chalet-ParisNineteenSeventy.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'Chalet-ParisNineteenEighty'
    src url('../fonts/Chalet-ParisNineteenEighty.woff') format('woff'),
    font-weight normal
    font-style normal


a:focus
    outline 0

html
    height 100%
    min-width 320px
    font-size 62.5% !important
body
    position relative
    min-height 100%
    font-family 'proxima-nova'
.main
    lost-center 1280px
    position relative

.overlay
    display block
    position absolute
    width 100%
    height 100%
    background-color #000
    visibility hidden
    z-index -1
    opacity 0
    transition all .3s
.overlayShow
    opacity 0.53
    visibility visible
    z-index 3000
