.chatVideo
    display block
    width 100%
    clear fix
.chatVideoFrame
    display block
    width 100%
    img
        width 100%

.chatVideoControl
    box horizontal middle space-between
    margin-bottom 6px
.chatVideoControlLeft
    flex 0 0 auto
    padding-top 5px
    box horizontal middle left
    button
        margin-right 10px
.chatVideoControlRight
    flex 0 0 auto
    box horizontal middle right

.chatVideoControlCamera
    flex 0 0 auto
    margin-right 30px
    background-image inline("iconWebCamera.png")
    background-repeat no-repeat
    background-position 0px center
    padding-left 20px
    height 20px
.chatVideoControlCameraHide
    box horizontal middle right
    span
        color rgb(60, 60, 60)
        font-family 'Roboto', sans-serif
        font-size 11px
        font-weight 300
        line-height 11px

    .icheckbox
        margin-left 5px
        vertical-align middle

.chatVideoTiming
    display block
    box horizontal middle space-between
    background-color rgb(248, 248, 248)
    border 1px solid rgb(225, 225, 225)
    border-radius 2px
    padding 10px

.chatVideoTimingLeft
    flex 0 0 auto
    font-family 'Roboto', sans-serif
    font-weight 300
    line-height 18px

    color rgb(60, 60, 60)
    font-size 14px
    span
        color rgb(146, 146, 146)
        font-size 11px
.chatVideoTimingRight
    flex 0 0 auto
    font-family 'Roboto', sans-serif
    line-height 18px
    color rgb(40, 40, 40)
    font-size 12px
    font-weight 400
    b
        color rgb(236, 15, 84)
        font-size 18px
        font-weight 500
    button
        margin-left 5px
