.chatControl
    box horizontal middle left
    padding 10px
.chatControlAvatar
    flex 0 0 auto
    margin-right 10px
    img
        size 35px
        border-radius 50%

.chatControlName
    flex 0 0 auto
    font-family 'Roboto', sans-serif
    font-weight 300
    line-height 18px
    color black
    font-size 14px
    span
        color rgb(149, 149, 149)
        font-size 11px
.chatControlButton
    flex 1 1 auto
    text-align right
    +below(380px)
        button
            &:first-child
                margin-bottom 10px
