.chatMessages
    display block
    padding-top 10px
.chatMessageWindow
    display block
    padding 3px
    border 1px solid rgb(225, 225, 225)
    border-radius 3px
    margin-bottom 10px
.chatMessageWindowWrap
    height 360px
    padding 15px 15px 15px 8px
    box vertical left
.chatMessageIn
    flex 0 0 auto
    margin-bottom 22px

.chatMessageInText
    position relative
    color rgb(88, 88, 88)
    font-family 'Roboto', sans-serif
    font-size 12px
    font-weight 300
    line-height 18px
    background-color rgb(235, 239, 244)
    border-radius 3px
    padding 11px 11px 10px 11px
    &:before
        position absolute
        content ''
        left -7px
        top 10px
        triangle pointing-left
        size 7px 8px
        background-color rgb(235, 239, 244)

.chatMessageInTime
    text-align right
    color rgb(147, 147, 147)
    font-family 'Roboto', sans-serif
    font-size 10px
    font-weight 300
    line-height 18px
.chatMessageCheck
    display inline-block
    background-repeat no-repeat
    background-image inline("iconSmallCheck.png")
    size 9px

.chatMessageOut
    flex 0 0 auto
    margin-bottom 22px
    align-self flex-end
.chatMessageOutText
    position relative
    color rgb(88, 88, 88)
    font-family 'Roboto', sans-serif
    font-size 12px
    font-weight 300
    line-height 18px
    background-color rgb(252, 219, 228)
    border-radius 3px
    span
        display block
        padding 11px 11px 10px 11px
    &:before
        position absolute
        content ''
        right -7px
        top 10px
        triangle pointing-right
        size 7px 8px
        background-color rgb(252, 219, 228)
.chatMessageOutTranslate
    position relative
    color rgb(88, 88, 88)
    font-family 'Roboto', sans-serif
    font-size 12px
    font-weight 100
    font-style italic
    line-height 18px
    background-color rgb(242, 196, 209)
    border-radius 0 0 3px 3px
    padding 11px 11px 10px 11px
.chatMessageOutControl
    box horizontal middle space-between
.chatMessageOutTime
    text-align right
    color rgb(147, 147, 147)
    font-family 'Roboto', sans-serif
    font-size 10px
    font-weight 300
    line-height 18px

.chatMessageOutButton
    color rgb(147, 147, 147)
    font-family 'Roboto', sans-serif
    font-size 10px
    font-weight 300
    line-height 18px
