.chatMessageSend
    display block
    border 1px solid rgb(225, 225, 225)
    border-radius 3px

.chatMessageSendInput
    height 80px
    textarea
        height 80px
        width 100%
        border 0
        outline 0
        padding 10px
        color rgb(88, 88, 88)
        font-family 'Roboto', sans-serif
        font-size 12px
        font-weight 300
        line-height 18px

.chatMessageSendControl
    background-color rgb(248, 248, 248)
    border-top 1px solid rgb(225, 225, 225)
    box horizontal middle space-between

.chatMessageSendControlLeft
    padding-left 10px
    .labelCheckbox
        color rgb(60, 60, 60)
        font-size 11px
        .icheckbox
            margin-right 5px

.chatMessageSendControlRight
    flex 0 1 auto
    box horizontal middle right
.chatMessageSendControlFlowers
    flex 0 1 auto
    position relative
.chatMessageSendControlFlowerButton
    color rgb(107, 107, 107)
    font-family 'Roboto', sans-serif
    font-size 11px
    font-weight 300
    line-height 18px
    height 28px
    background-color rgb(248, 248, 248)
    outline 0
    border 0
    border-left 1px solid rgb(225, 225, 225)
    border-right 1px solid rgb(225, 225, 225)
    &:hover
        background-color rgb(223, 223, 223)
.chatFlowerDrop
    display block
    position absolute
    overflow auto
    top -108px
    right 0
    size 126px 108px
    background-color white
    border 1px solid rgb(225, 225, 225)
    box-shadow 0 0 5px rgba(0, 0, 0, 0.1)
    padding 2px
    z-index 0
    visibility hidden
    opacity 0
.chatFlowerDropShow
    opacity 1
    visibility visible
    z-index 3000
.chatFlowerDropWrap
    padding 5px
    box horizontal top space-around
    flex-flow row wrap
.chatFlowerDropItem
    flex 0 1 50%
    margin-bottom 8px
    text-align center
.chatMessageSendControlFile
    flex 0 1 auto
.chatMessageSendControlFileButton
    size 28px
    background-color rgb(248, 248, 248)
    outline 0
    border 0
    //border-left 1px solid rgb(225, 225, 225)
    border-right 1px solid rgb(225, 225, 225)
    background-image inline("iconFile.png")
    background-repeat no-repeat
    background-position center center
    &:hover
        background-color rgb(223, 223, 223)
.chatMessageSendControlSmile
    flex 0 1 auto
    position relative
.chatMessageSendControlSmileButton
    size 28px
    background-color rgb(248, 248, 248)
    outline 0
    border 0
    //border-left 1px solid rgb(225, 225, 225)
    border-right 1px solid rgb(225, 225, 225)
    background-image inline("iconSmile.png")
    background-repeat no-repeat
    background-position center center
    &:hover
        background-color rgb(223, 223, 223)
.chatSmileDrop
    display block
    position absolute
    overflow auto
    top -108px
    right 0
    size 126px 108px
    background-color white
    border 1px solid rgb(225, 225, 225)
    box-shadow 0 0 5px rgba(0, 0, 0, 0.1)
    padding 2px
    visibility hidden
    opacity 0
.chatSmileDropShow
    opacity 1
    visibility visible
    z-index 3000
.chatSmileDropWrap
    padding 5px
    box horizontal top space-around
    flex-flow row wrap
.chatSmileDropItem
    flex 0 0 33%
    margin-bottom 8px
    text-align center
.chatMessageSendControlSubmit
    flex 0 1 auto
.buttonRedSmall
    background-color rgb(235, 15, 83)
    outline 0
    border 0
    size 67px 28px
    border-radius 0 0 3px 0
    color white
    font-family 'Roboto', sans-serif
    font-size 11px
    font-weight 300
    line-height 18px
