.header
    .headerWrap
        .headerLeft
            .headerLogo
                a(href="#")

            .headerCredits
                .headerCreditsTotal
                    | 20
                    span &nbspCr
                .headerCreditsDesktop
                    | Credits
                    button.buttonOutline.js-showPopupPay + add
        .headerRight
            .settings
                .settingButton
                    button.buttonSettting
                .settingWindow
                    .settingItems
                        .settingItemCheckboxs
                            .settingItemCheckboxLabel
                                | Setting 1
                            .settingItemCheckbox
                                input(type="checkbox").iCheck
                        .settingItemCheckboxs
                            .settingItemCheckboxLabel
                                | Setting 1
                            .settingItemCheckbox
                                input(type="checkbox").iCheck
                        .settingItemCheckboxs
                            .settingItemCheckboxLabel
                                | Setting 1
                            .settingItemCheckbox
                                input(type="checkbox").iCheck
                        .settingItem
                            .settingItemLeft
                                .settingItemTop
                                    | Balance
                                .settingItemString
                                    span 40&nbsp
                                    | Cr
                            .settingItemRight
                                button.buttonOutline.js-showPopupPay + add credits
                        .settingItem
                            .settingItemLeft
                                .settingItemTop
                                    | Auto recharge
                                .settingItemString
                                    span 40&nbsp
                                    | Cr
                            .settingItemRight
                                button.buttonOutline.js-popup-refill Change
                        .settingItem
                            .settingItemLeft
                                .settingItemTop
                                    | Card Number
                                .settingItemString
                                    b XXXX XXXX 1298
                            .settingItemRight
                                button.buttonOutline.js-popup-credit Change
            .headerUser
                .headerUserName
                    | Robert William
                    .headerUserStatus
                        .status.statusOnline
                            | Online
                .headerAvatar
                    a(href="#")
                        img(src="img/avatarHeader.jpg", alt="")
            .headerLogout
                button.buttonLogout
