.payPopup
    .payPopupClose
        button.buttonClose
    .payPopupLeft
        .payPopupSelect
            .payPopupSelectHeader
                | How much would you like to add?
            .payPopupSelectCheckboxs
                label
                    input(type="checkbox").iCheck
                    | 40&nbsp
                    span credits&nbsp
                    b $40
            .payPopupSelectCheckboxs
                label
                    input(type="checkbox").iCheck
                    | 80&nbsp
                    span credits&nbsp
                    b $80
            .payPopupSelectCheckboxs
                label
                    input(type="checkbox").iCheck
                    | 140&nbsp
                    span credits&nbsp
                    b $140
            .payPopupSelectCheckboxs
                label
                    input(type="checkbox").iCheck
                    | 240&nbsp
                    span credits&nbsp
                    b $240
            .payPopupSelectCheckboxs
                label
                    input(type="checkbox").iCheck
                    | 500&nbsp
                    span credits&nbsp
                    b $500
            .payPopupSelectCheckboxs
                label
                    input(type="checkbox").iCheck
                    | 1000&nbsp
                    span credits&nbsp
                    b $1000
            .payPopupSelectMobile
                select.select
                    option 40 credits $40
                    option 80 credits $80
                    option 140 credits $140
                    option 240 credits $240
                    option 500 credits $500
                    option 1000 credits $1000
        .payPopupCreditNow
            .payPopupCreditNowWrap
                span Current Balance
                b 1000&nbsp
                | Cr
    .payPopupRight
        .payPopupItems
            .payPopupItem
                label.label
                    | Payment Method
                .payPopupSystems
                    .payPopupSystemVisa
                        label.payPopupSystemVisaLabel
                            input(type='radio' name='pay').iCheck
                            span
                    .payPopupSystemPaypal
                        label.payPopupSystemPaypalLabel
                            input(type='radio' name='pay').iCheck
                            span
            .payPopupItem
                label.label Cardholders Name
                input.input
            .payPopupItem
                .payPopupItemRow
                    .payPopupItemColumn
                        label.label Experation Date
                        select.select2
                            option January
                            option January
                    .payPopupItemColumn
                        label.label Cardholders Name
                        select.select2
                            option 2015
                            option 2016
                            option 2017
            .payPopupItem
                .payPopupItemRow
                    .payPopupItemColumn
                        label.label CVVC Code
                        input.input
                    .payPopupItemColumn
                        label.label Zip Code
                        input.input
            .payPopupItem
                label.labelCheckbox
                    input(type='checkbox').iCheck
                    .labelCheckboxText
                        | Auto recharge this card:
                        input.inputSmall(value="100")
                        | credits if credit balance is lower than 10 credits.
            .payPopupItem
                .payPopupItemTotal
                    span Total:
                    | $240
            .payPopupItem
                button.buttonRed Pay now
