.popup.popupMedium.js-popup-refill-show
    .popupClose
        button.buttonClose
    .popupHeader
        | Auto Recharge
    .popupForm
        .popupFormItem
            p
                | Auto recharge this card:
                input.inputSmall(value="100")
                | credits if credit balance is lower than 10 credits.
        .popupFormItem
            button.buttonRed Save Change
