.userPopup
    .userPopupTriangle
    .userPopupPhoto
        .userPopupPhotoTop
            .userPopupAvatar
                img(src="img/avatar.jpg", alt="")
            .userPopupName
                | Maria Kaminer
            .userPopupStatus
                .statusWhite.statusOnline
                    | Online
        .userPopupProfile
            button.buttonOutlineRound
                | Profile
    .userPopupInfo
        .userPopupInfoRows
            .userPopupInfoRow
                .userPopupInfoColumn
                    .userPopupInfoItem
                        span Country
                        | Ukraine
                    .userPopupInfoItem
                        span Age
                        | 18 y.o
                    .userPopupInfoItem
                        span Height
                        | 163 cm
                    .userPopupInfoItem
                        span Marital Status
                        | Single
                .userPopupInfoColumn
                    .userPopupInfoItem
                        span City
                        | Kremenchug
                    .userPopupInfoItem
                        span Birthday
                        | 10/2/1997
                    .userPopupInfoItem
                        span Weight
                        | 52 kg
                    .userPopupInfoItem
                        span Religion
                        | Christian
            .userPopupInfoRow
                .userPopupInfoBigColumn
                    .userPopupInfoItem
                        span Education
                        | High Unfinished
                    .userPopupInfoItem
                        span Hobbies
                        | I used to play Volleyball
                    .userPopupInfoItem
                        span Search for
                        | My perfect man must be: smart, funny..
                    .userPopupInfoItem
                        span Language
                        | English

        .userPopupInfoBottom
            .userPopupInfoFullColumn
                .userPopupInfoItem
                    span About Myself
                    | I like to read russian classical literature. Iwas playing a volleyball for some time and can play winds a bit(clarinet).
                
