.header
    height 52px
    border-bottom 1px solid rgb(235, 235, 235)
    z-index 100
    &Wrap
        lost-center 1280px
.headerLeft
    lost-column 1/2 2 0px
    box horizontal top left
.headerLogo
    flex 1
    padding 8px 16px
    height 52px
    border-right 1px solid rgb(235, 235, 235)
    a
        display block
        size 141px 36px
        background-image inline("logo-desktop.png")

    +below(500px)
        padding 11px 16px
        a
            size 63px 23px
            background-image inline("logo-mobile.png")

.headerCredits
    flex 1 1 52px
    padding 17px 18px
    +below(400px)
        padding 17px 8px
.headerCreditsTotal
    display inline-block
    font-family 'Roboto', sans-serif
    color rgb(236, 15, 84)
    font-size 18px
    font-weight 500
    height 20px
    span
        display inline-block
        color rgb(40, 40, 40)
        font-size 12px
        font-weight 400
        +above(550px)
            display none

.headerCreditsDesktop
    display inline-block
    color rgb(40, 40, 40)
    font-family 'Roboto', sans-serif
    font-size 12px
    font-weight 400
    height 20px
    button
        margin-left 8px
        vertical-align bottom
    +below(695px)
        button
            display none
    +below(550px)
        display none
.headerRight
    lost-column 1/2 2 0px
    text-align right
    box horizontal top right
.headerUser
    box horizontal
    padding-left 17px
.headerUserName
    flex 1 1 auto
    padding-top 12px
    color rgb(40, 40, 40)
    font-family 'Roboto', sans-serif
    font-size 14px
    font-weight 400
    line-height 18px
    margin-right 12px
    white-space nowrap
.headerAvatar
    flex: 0 0 52px
    +below(695px)
        display none
.headerLogout
    flex: 0 0 52px
.buttonLogout
    display block
    float left
    height 52px
    width 52px
    border 0
    outline 0
    background-image inline("iconLogout.png")
    background-repeat no-repeat
    background-position center center
    transition all .3s
    background-color rgb(235, 15, 83)
