.settings
    flex 0 0 52px
    position relative
.buttonSettting
    display block
    float left
    height 52px
    width 52px
    border 0
    border-left 1px solid rgb(235, 235, 235)
    border-right 1px solid rgb(235, 235, 235)
    border-bottom 1px solid rgb(235, 235, 235)
    outline 0
    background-color #FFF
    background-image inline("iconSetting.png")
    background-repeat no-repeat
    background-position center center
    transition all .3s
    &:hover, &Active
        background-color rgb(235, 15, 83)
        background-image inline("iconSettingActive.png")
        border-left 1px solid rgb(235, 15, 83)
        border-right 1px solid rgb(235, 15, 83)
.settingWindow
    display block
    position absolute
    top 51px
    right 0
    border 1px solid rgb(225, 225, 225)
    box-shadow 1.1px 3.8px 5px rgba(0, 0, 0, 0.14)
    background-color #FFF
    width 202px
    z-index 100
    transition all .5s
    opacity 0
    visibility hidden
    +below(400px)
        right -50px
.settingWindowShow
    opacity 1
    visibility visible

.settingItems
    display block
    clear fix
.settingItemCheckboxs
    box horizontal middle space-between
    padding 5px 15px
.settingItemCheckboxLabel
    flex 0 0 auto
    color rgb(14, 14, 14)
    font-family 'Roboto', sans-serif
    font-size 12px
    font-weight 300
    line-height 30px
.settingItemCheckbox
    flex 0 0 auto

.settingItem
    box horizontal bottom space-between
    padding 5px 15px 8px
    border-top 1px solid rgb(225, 225, 225)

.settingItemLeft
    flex 0 0 auto
.settingItemRight
    flex 0 0 auto

.settingItemTop
    display block
    color rgb(110, 110, 110)
    font-family 'Roboto', sans-serif
    font-size 10px
    text-align left
    font-weight 300
    line-height 12px

.settingItemString
    font-family 'Roboto', sans-serif
    line-height 18px
    color rgb(40, 40, 40)
    font-size 12px
    text-align left
    font-weight 400
    b
        font-weight 500
        color black
    span
        color rgb(236, 15, 84)
        font-size 18px
        font-weight 500
