.userPopup
    position absolute
    //top center
    margin-top -6px
    left 90px
    top center
    box horizontal top left
    background-color white
    border 1px solid rgb(225, 225, 225)
    border-radius 2px 3px 3px 2px
    box-shadow 0 4px 5px rgba(0, 0, 0, 0.14)
    z-index -1
    width 720px
    align-items stretch !important
    transition all .5s
    opacity 0
    visibility hidden
    +below(870px)
        box vertical top left
        width auto
        transform translateY(-12%)
.userPopupShow
    opacity 1
    visibility visible
    z-index 1000
.userPopupTriangle
    display block
    position absolute
    top calc(50% - 6px)
    left -12px
    background-color #df3361
    triangle right-iso pointing-left
    width 12px
    border-right-color #df3361 !important
    +below(870px)
        top calc(12% - 6px)
.userPopupPhoto
    flex 0 0 150px
    box vertical middle space-between
    padding 17px 25px
    background url("../img/popupbg.png") center center no-repeat
    //min-height 220px
    background-size cover
    text-align center
    +below(870px)
        flex 1
        box horizontal middle space-between
        text-align left
.userPopupPhotoTop
    flex 6
    padding-top 20px
    +below(870px)
        padding-top 0px
.userPopupAvatar
    display block
    margin-bottom 10px
    img
        border-radius 50%
        size 68px

    +below(870px)
        display none
.userPopupName
    color white
    font-family 'Roboto', sans-serif
    font-size 16px
    font-weight 400
    line-height 18px
    white-space nowrap
    margin-bottom 5px
.userPopupProfile
    flex 1

.userPopupInfo
    flex 1 1 auto
    padding 14px 10px
.userPopupInfoRows
    box horizontal top space-between
    +below(870px)
        box vertical top space-between
.userPopupInfoRow
    box horizontal top space-between
    width 50%
.userPopupInfoBottom
    display block
    width 400px
    +below(870px)
        width 230px
.userPopupInfoColumn
    flex 1
    flex-wrap nowrap
.userPopupInfoBigColumn
    flex 2

.userPopupInfoItem
    display block
    color rgb(4, 4, 4)
    font-family 'Roboto', sans-serif
    font-size 12px
    font-weight 400
    line-height 16px
    margin-bottom 10px
    span
        display block
        color rgb(139, 139, 139)
        font-family 'Roboto', sans-serif
        font-size 10px
        font-weight 400
        line-height 12px

.userPopupInfoFullColumn
    .userPopupInfoItem
        margin-bottom 0px
