.userItems
    display block
    clear fix
.userItem
    display block
    padding 11px 0 11px
    border-bottom 1px solid rgb(235, 235, 235)
    &Wrap
        lost-center 1280px
        position relative
        padding 0 0 0 60px
        +below(830px)
            padding 0 10px
.userItemInfos
    flex 2
    box horizontal middle left

.userItemAvatar
    flex 0 0 68px
    position relative
    img
        border-radius 50%
        size 68px
.userItemInfo
    flex 1
    padding-left 29px
    box vertical top left
    +below(830px)
        padding-left 10px
.userItemName
    flex 0 1 auto
    margin-bottom 5px
    span
        vertical-align middle
        color rgb(16, 16, 16)
        font-family 'Roboto', sans-serif
        font-size 16px
        font-weight 400
        line-height 18px

.usersItemNameFavorite
    display inline-block
    vertical-align middle
    background-repeat no-repeat
    background-position center center
    size 18px
    background-image inline("iconFavorite.png")
    background-size 13px
    cursor pointer
    &Active
        background-image inline("iconFavoriteActive.png")
.userItemAge,
.userItemCountry
    flex 0 1 auto
    font-family 'Roboto', sans-serif
    font-weight 400
    line-height 15px
    color rgb(16, 16, 16)
    font-size 12px
    margin-bottom 2px
    span
        margin-right 4px
        color rgb(139, 139, 139)
        font-size 10px
.userItemStatus
    flex 0 1 auto

.userItemControl
    flex 1 1 auto
    box horizontal middle space-between
    +below(830px)
        flex 1
        box vertical top left

.userItemInvite
    flex 0 1 auto
    color rgb(186, 186, 186)
    font-family 'Roboto', sans-serif
    font-size 12px
    font-weight 300
    line-height 18px
    +below(830px)
        margin-bottom 4px
        font-size 10px
.userItemButtons
    flex 0 1 auto
    flex-wrap: wrap;
    box horizontal middle flex-start
    button
        flex 0 1 auto
        margin-right 4px
        +below(830px)
            margin-bottom 4px
        &:last-child
            margin-right 0px
