.userTab
    display block
    //height 52px
    width 100%
    z-index 100
    transition all .3s
    background-color rgb(248, 248, 248)
    border-bottom 1px solid rgb(235, 235, 235)
    transition all .5s
    &Wrap
        lost-center 1280px
        justify-content space-between
    .userTabMenu
        box horizontal top left
        +below(630px)
            box vertical left
    .userTabMobileMenu
        opacity 0
        visibility hidden
        transition all .3s
        +below(630px)
            opacity 1
            visibility visible
            flex 0 0 52px
.userTabItem
    padding 13px 0
    flex 0 1 auto
    transition all .3s
    a
        display block
        position relative
        color rgb(98, 98, 98)
        font-family 'Roboto', sans-serif
        font-size 14px
        font-weight 300
        line-height 25px
        text-decoration none
        padding 0 25px
        border-left 1px solid rgb(235, 235, 235)
        height 25px
        transition all .3s
        span
            display inline-block
            margin-left 8px
            padding 5px
            background-color rgb(235, 15, 83)
            border-radius 3px
            color white
            font-family 'Roboto', sans-serif
            font-size 12px
            font-weight 500
            line-height 12px
        &:hover
            color rgb(16, 16, 16)
    &:first-child
        a
            border-left 0
    &MobileHide
        +below(630px)
            display none
    &Active
        flex 0 1 auto
        display block
        a
            color rgb(16, 16, 16)
            font-family 'Roboto', sans-serif
            font-size 14px
            font-weight 400
            &:after
                display block
                position absolute
                width calc(100% - 50px)
                bottom -14px
                content ''
                left 25px
                background-color rgb(235, 15, 83)
                height 3px


.buttonUserTabMenu
    flex 1
    height 52px
    width 52px
    border 0
    outline 0
    background-image inline("iconUserMenu.png")
    background-repeat no-repeat
    background-position center center
    transition all .3s
    background-color transparent
