.userMobileMenu
    display none
    width 100%
    height 0
    overflow hidden
    padding 0
    border-bottom 0

    background-color rgb(248, 248, 248)
    margin-top -1px
    transition all .3s
    +below(630px)
        display block
.userMobileMenuShow
    height auto
    border-bottom 1px solid rgb(235, 235, 235)
    padding  5px 0 5px
.userMobileMenuItems
    lost-center 1280px
    justify-content space-between
    box vertical left
    padding 0 20px 0 25px

.userMobileMenuItem
    flex 0 1 auto
    height 40px
    position relative

    a
        position relative
        font-family 'Roboto', sans-serif
        font-weight 300
        line-height 40px
        color black
        font-size 14px

        text-decoration none
        span
            display inline-block
            margin-left 8px
            padding 5px
            background-color rgb(235, 15, 83)
            border-radius 3px
            color white
            font-family 'Roboto', sans-serif
            font-size 12px
            font-weight 500
            line-height 12px
    &Active
        a
            font-weight 400
            color #101010
            &:after
                display block
                position absolute
                width 100%
                bottom -5px
                content ''
                left 0px
                background-color rgb(235, 15, 83)
                height 3px
    &Hide
        display none
