.iCheck-helper
    z-index 100
.iradio
    display inline-block
    vertical-align middle
    cursor pointer
    position relative
    size 13px
    border 1px solid rgb(215, 215, 215)
    background-color #FFF
    border-radius 50%
    margin-right 10px
    //margin-top -2px
    &.checked
        &:after
            display block
            position absolute
            size 7px
            background-color rgb(236, 15, 84)
            content ''
            border-radius 50%
            transition all .5s
            top 2px
            left 2px
.icheckbox
    display inline-block
    vertical-align middle
    cursor pointer
    position relative
    size 13px
    line-height 13px
    background-color #FFF
    border 1px solid rgb(225, 225, 225)
    &.checked
        border 1px solid rgb(235, 15, 83)
        &:after
            display block
            position absolute
            background-repeat no-repeat
            background-position center center
            background-image inline("iconCheckbox.png")
            content ''
            size 8px
            left 1px
            z-index 0
            top 1px
    &:hover
        border 1px solid rgb(235, 15, 83)
.icheckbox.error
    border 2px solid #D65454
