@charset "UTF-8";
/* CSS Document */

@media only screen and (max-width: 1300px) {
	.center { width:calc(100% - 60px); padding:0 30px}
	.obert-l, .obert-r { width:calc(100% - 40px); padding:0 20px}
	#block5 .col1-2 h2, .obert-r .left { padding-left:30px}
	a.f1:first-child,
	a.f1 { padding-left:0%; }
	.fac {width:32%; text-align:center; display:inline-block}
	.obert-r .guide img {
	 width: 90%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 28px;}
	.obert-r .left { font-size:30px}
	.sign-btns {  width: 434px;}
	#c1.col1-2:before { background-size:cover}
	.celebr {    padding-left: 75px;}
	.fac { padding-left:0}
	
}

@media (min-width:950px) and (max-width:1200px){
#c2 .obert-r .guide {width: 232px;  margin-top: 12px;    position: absolute;
    top: 102px;
    right: -15px;}
.col1-2 { height:460px}
#c2 .sign-btns { width:400px}
.obert-l.podv { width:420px; padding-top:0px; margin-top:0}
div#box-form3 { top:-13px}
#block5 .col1-2 h2 { font-size:32px; letter-spacing:-1px}
#box-form3 input[type="submit"] {     font-size: 24px; padding: 11px 0; width:140px}
.col1-3 h2 {    font-size: 32px;}
.col1-3:last-child p, .col1-3:first-child p {    padding: 0px 60px;}
.col1-3 p { padding:0}
.col1-3 {     width: 28.5%; padding: 0 2%;}
#top-menu { padding-left:0}
.celebr {    padding-left: 0px;}
#top-menu li { padding-right:23px}
}

@media only screen and (max-width: 1100px) {
	#top-menu #menu-item-1,
	#top-menu #menu-item-2 { display:none}
	.celebr {
    position: relative;
    margin: 0 auto;
    width: 165px;}
	ul#f-m > li {    float: left;    padding-right: 30px;}
	
}
@media only screen and (max-width: 950px) {
.col1-3 {    display: block;    width: 100%; margin: 40px 0;}
.col1-3 h2 {margin: 10px 0;}

#block5.full { background:none;}
#block5.full:after { display:none}
.col1-2 {    float: none;    width: 100%;}
#c1 { background: url(img/backgr2.png) left;   background-size: cover;}
#c2 { background: url(img/backgr2.png) right;   background-size: cover;}
#block5 .col1-2 h2 {
	margin: 0;
    padding-top: 30px;
    text-align: center;
	}
.celebr {    padding-left: 0px;}
#c1 .sign-btns { width:380px}
.obert-l.podv { padding-top:0px}
#block5 .col1-2 h2, .obert-r .left { padding-left:45px}
.obert-r .left { font-size:inherit;     padding-top: 22px;}
.obert-l { float:left}

#box2 { width:540px; margin:auto}

#block3 .col1-3 p {    width: 90%;    margin: auto;}
.obert-r .guide img {
    margin-bottom: 60px;
    top: 24px;
    position: relative;}
.cel2 { width:90%}
div#box-form3 { top:43px}

.footer-menu { width:55%}
ul#f-m > li {
	    width: 170px;
    display: inline-block;
    min-height: 240px;
	}
footer { padding-bottom:40px}

}

@media only screen and (max-width: 800px) {
	nav#top-menu-nav {
    float: right;
    position: relative;
    right: 10px;
    top: -135px;}
	.logo {
    float: left;
    width: 360px;
    top: 50px;
    position: relative;
    transition: 0.3s;}
	.footer-menu {
    width: 100%;
    float: none;}
	ul#f-m > li {
    width: calc(25% - 30px);
    display: inline-block;
    min-height: 240px;}
	.f-right {
    float: none;
    width: 245px;
    margin: 30px auto;
	text-align:center}
	.footer-logo {
    padding: 21px 0 0px;}
	.soc-btns.clearfix { padding-left:5px}
}

@media only screen and (max-width: 680px) {
	.fac{ width:49%}
	#box-form form {    padding: 15px 40px 30px 20px; margin:auto}
	#c2 .obert-r:before {    left: -1px;    top: 144px;}
	#c2.col1-2:before { height:142px}
	.sign-btns, .sign-btns form p { width: 270px;}
	#box-form3 input[type="submit"] {    margin: 10px 0 0 31px;}
	div#box-form3 { bottom:-44px}
	#c2 .obert-r {    position: relative;    height: 320px;}
	#box2 .left { font-size:30px; padding-left:20px}
	#box2 {    width: 100%;}
	#block5 .col1-2 h2 { padding-left:0}
	.obert-r .guide { position:absolute}
	.obert-r .guide img {
    margin-bottom: 60px;
    top: 2px;
    position: relative;
    left: 222px;}
}

@media only screen and (max-width: 480px) {
	form label { float:none; padding-bottom:15px}
	select, .njn  { float:left}
	#box-form form { width:calc(100% - 60px)}
	#gender, #country {    width: 250px;}
	form p { width:250px; display:block; margin:auto}
	#subm {    position: relative; width: 187px}
	#box-form input[type="submit"] { top:10px; left:inherit} 
	div#ages {    width: 250px;   margin: auto;}
	#box-form2 form p { text-align:left; margin-bottom: 6px;}
	#box-form2 form input { width:185px}
	#box-form2 input[type="submit"] { padding:8px 17px 5px 52px}
	p#create {   padding-top: 15px;}
	#box-form2 form { margin-top:0;    width: 250px; padding:0 }
	.obert-l.podv { padding-top:0px; margin-top:12px}
	#box-form2 label { padding-bottom:0}
	div#box-form2 {    margin-top: -15px;}
	.center {width: calc(100% - 30px);    padding: 0 15px;}
	#block5 .col1-2 h2 { font-size:31px}
	ul#f-m {  display: none;}
	.obert-r .left {width: 200px;}
	.obert-r .guide img { left:190px}
	#top-menu { padding-left:0}
	
	#top-menu #menu-item-3 a { padding:8px 25px}
	#top-menu #menu-item-4 a { padding:8px 15px}
	.fac { width:100%}
	.logo img { width:300px; height:auto}
	#c1 .sign-btns {   width: 180px;}
	#box-form2 form { padding-left:0}
	
	#slidebar { padding:35px 10%; width:80%; right:inherit; left:108%;}
	#slidebar.active { left:0; z-index:99;}
	#box-form2 form label { text-align:left}
	.obert-l .opens { width:260px; margin:6px auto}
	div#box-form3 { top: 50px;}
	a#s-face { margin-bottom:9px}
	#slidebar ul h3:before { left:-36px}
}

