@charset "UTF-8";
/* CSS Document */


body {
	margin: 0px;
	padding: 0px;
	font-family: 'Chalet-ParisNineteenSixty';
	font-weight:bold;
	width: 100%;
    overflow-x: hidden;
	position:relative;
}

ul {
    list-style-type: none;
}

ul li {
}


img {
	border: 0px;
}

.clear { clear:both}

a { text-decoration:none}

header { width:100%;  padding: 30px 0 65px; background:url(img/header-home.jpg) no-repeat center top; background-size:cover; }

.center { width:1200px; margin:0 auto}

.logo {
    float: left;
	width:360px;
	transition:0.3s;
	position:relative;
	top:0
}
.slogan { font-size:27px;  padding-top: 9px;  padding-left: 3px;}
.logo a { color:#404041}

nav#top-menu-nav { float:right}
#top-menu li {
    display: inline-block;;
    padding-right: 26px;
}
#top-menu {  margin-top: 0px;}
#top-menu li a {
    color: #636363;
    text-decoration: none;
    display: block;
    position: relative;
    font-size: 18px
}
#top-menu #menu-item-3 { padding-right:10px}
#top-menu #menu-item-3 a {    
	background: #000;
    color: #fff;
    padding: 8px 38px;
    border-radius: 4px;
	border:1px solid #000;transition:0.5s}
#top-menu #menu-item-3 a:hover { background: rgba(255, 255, 255, 0.3);  color: #000; }  

#top-menu #menu-item-4 { padding-right:23px}
#top-menu #menu-item-4 a {    
	background: #eb0f53;
    color: #fff;
    padding: 8px 28px;
    border-radius: 4px;
	border:1px solid #eb0f53;
	transition:0.5s}
#top-menu #menu-item-4 a:hover { background: rgba(255, 255, 255, 0.3);  color: #eb0f53; }  

#menu-side-icon { padding-right:0!important}
#menu-side-icon a { background:url(img/menu-icon.png); width:25px; height:18px; top:5px; transition:0.3s}
#menu-side-icon a:hover {background:url(img/menu-icon2.png);}

.link-hov a { overflow:hidden; padding-bottom: 10px;   top: 14px;}
.link-hov  a:after { display:block; content:""; height:2px; width:333px; position:absolute; left:-333px; bottom:2px; transition:0.3s; background:#eb0f53}
.link-hov:hover a:after { left:0; }

#block1 { background:#f5f3f2; padding:20px 0}
#block1 h1 { text-align:center; font-size:36px; font-weight:bold} 
a.f1 {
    text-align: center;
    padding-left: 14px;
	color:#404041;
	position:relative;
	overflow:hidden;
	display:inline-block;
}
.fac {display: inline-block; padding-left:11px}
a.f1:first-child { padding-left:0}
a.f1 p { font-size:26px; line-height:1}
a.f1 p span { font-size:19px}
a.f1:hover { color:#eb0f53; }
a.f1:after { content:""; width:184px; height:181px; position:absolute; top:0px;  left:15px; transition:0.3s; background:url(img/face-hover.png) center no-repeat; background-size:0%}
a.f1:hover:after { background-size:100%}
a.f1:first-child:after { left:0} 


#block2.full { padding:30px 0;}

#block3.full { padding:40px 0; background:url(img/hearts.jpg) center no-repeat; background-size:cover;}
#block3.full h2 { text-align:center; font-size:36px; font-weight:bold} 

.col1-3 { display:inline-table; width:33%; text-align:center}
.col1-3 { font-family: 'Chalet-ParisNineteenSixty';}
.col1-3 p { font-size:18px; padding:0 18px; font-family: 'Open Sans', sans-serif; font-weight:normal}
.col1-3 h2 { font-size:36px; color:#eb0f53; font-weight:200; font-weight:bold}
.col1-3:last-child p,
.col1-3:first-child p { padding:0 80px}

#block3 .col1-3  p { font-style:italic; font-weight:300; font-size:20px;}
#block3 .col1-3:last-child p, #block3 .col1-3:first-child p {    padding: 0px 27px;}
#block3 .col1-3 span {font-size:26px; font-style:italic; font-weight:300;}

#block4.full { padding:40px 0 50px} 
#block4.full h2 { text-align:center; font-size:36px; font-weight:bold; padding: 10px 0; margin:0} 


.celebr {
    padding-left: 95px;
    position: absolute;
}
.cel2 {
	font-size: 18px;
    line-height: 2;
    text-align: center;
    width: 660px;
    margin: auto;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;}
	
#block5.full { padding:0; background: url(img/backgr2.png) center; background-size:100%; position:relative; overflow:hidden; }
#block5.full:after {
    display: block;
    content: "";
    width: 2px;
    height: 555px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 0;
	z-index: 4;
}
.col1-2 { float:left; width:50%; position:relative;height:490px }
.col1-2:first-child {  box-shadow: inset -3px 0px 60px 8px rgba(0,0,0,0.2); }
#block5 .col1-2 h2 { color:#fff; padding-left:45px; font-size: 36px; padding-bottom:30px; border-bottom:4px solid rgba(255, 255, 255, 0.45); font-weight:normal} 
#block5 .col1-2:first-child h2 { text-align:center; padding-left:0}

.obert-l, .obert-r {     width: 630px;  padding: 0 30px; color:#fff}
.obert-l { float:right; font-size:18px; height:395px}
.obert-l p { text-align:center; margin-bottom:10px}
.obert-r {  font-size:36px}

.obert-r .left {
	float: left;
	width: 220px;
	padding-left: 45px;
	font-weight: normal;
	line-height: 1.2;
	z-index: 1;
    position: relative;
} 
#c2 .obert-r .left:after {display:block; content:"";  width:84px; height:42px; background:url(img/arr1.png) no-repeat left top; position:absolute;     left: 175px;  top: 185px;}
.obert-r .guide { float:left; position:relative} 
#c2 .obert-r { position:relative; height:367px}
#c2 .obert-r:before { display:block; content:"";  width:548px; height:256px; background:url(img/hearts2.png) no-repeat left top; position:absolute; left:140px; top:110px;}

footer { padding:40px 0 80px;   background: #F5F5F7;}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul#f-m  { padding:0; margin:0; font-family: 'Open Sans', sans-serif;}
ul#f-m > li { float:left; padding-right:50px;}
ul#f-m > li h3 { font-size:16px; color:#eb0f53; padding-bottom:18px; border-bottom:1px solid #eb0f53}
ul#f-m > li ul { padding:0} 
ul#f-m > li ul li { line-height:1.7} 
ul#f-m > li ul li a { color:#464646; font-size:14px;font-family: 'Open Sans', sans-serif; }
ul#f-m > li ul li a:hover { text-decoration:underline}

.soc-btns.clearfix {    padding-top: 10px;}
.soc-btns a { float:left; padding-right:20px;background:url(img/social-buttons.png) no-repeat;width:45px; height:45px; }
.soc-btns a.faceb { background-position:0  0}
.soc-btns a.g-plus { background-position:-65px  0}
.soc-btns a.tweet{ background-position:-129px  0}
.soc-btns a.pinter { background-position:-194px  0}
.soc-btns a:hover { opacity:0.8} 
.soc-btns a:last-child { padding-right:0}

.footer-menu { float:left}
.f-right {float:right}

.footer-logo {   padding: 43px 0 0px;}

.guides { text-align:right; padding-top: 5px;}
.guides p { font-size:16px} 

div#box-form { clear:both; padding-top:35px}
#box-form form { padding:15px 75px 30px 40px; border:1px solid #cfc5bf; border-radius:8px; width:365px; background:rgba(246, 240, 236, 0.5);}  
form label { font-size:20px; font-family: 'Chalet-ParisNineteenSixty';color:#404041;padding-top: 15px;    display: block;    float: left;padding-right: 12px; font-weight:bold} 
form p { margin:12px 0} 
select {
  font-family: 'Chalet-ParisNineteenSixty';
  font-size:16px;
  color:#404041;
  border-radius: 4px;
  padding:14px 50px 13px 15px;
  -webkit-appearance: none;
  background-image: url('img/select.png');
  background-color:#fff;
  background-position: right center;
  background-repeat: no-repeat;
  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px; 
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
  float:right;
  border:1px solid #cccccc;
  height:45px;
}
 
select::-ms-expand {
  display: none;
}

.njn  { position:relative}
.and { position:absolute; top: 17px;  left: 86px;}

.njn { float:right;}
#min, #max { float:left}
#min { margin-right:38px; width: 80px;   padding-right: 11px;}

#gender, #country { width:260px}

.align-c { text-align:center}

#subm { position:absolute}

#box-form input[type="submit"] {
	background: #eb0f53;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 5px;
	left: 100px;
    position: absolute;
	top: -8px;
    cursor: pointer;}
	input[type="submit"]:hover { opacity:0.85}

#box-form2 form { padding:15px 80px 70px 40px; position:relative;  width:365px;    margin: auto;}  
#box-form2 form label { color:#fff;text-align: right;  width: 85px;  font-weight:normal }
#box-form2 form input  {   
  font-family: 'Chalet-ParisNineteenSixty';
  font-size:18px;
  color:#404041;
  border-radius: 4px;
  padding:14px 50px 13px 15px;
  border:none;
   width: 195px;
    float: right;
	height:18px;
	}
#box-form2 form p { margin-bottom:17px}
p#create {    position: relative;}
#box-form2  input[type="submit"] {cursor:pointer; background: url(img/input-backgr.png) no-repeat #000; background-position:11px 4px; color:#fff; font-size:30px;padding: 4px 25px 0px 55px;
    width: auto; height:46px;}
#c1.col1-2 { position:relative!important; }

.opens {font-family: 'Open Sans', sans-serif; font-weight:normal}

#c1.col1-2:before { display:block; content:""; position:absolute; bottom:0; left:0; right:0; height:93px; background:url(img/sign1.png) no-repeat; background-size:100%;}
#c2.col1-2:before { display:block; content:""; position:absolute; bottom:0; left:0; right:0; height:93px; background:#f9b7cb; z-index:2}

.obert-l.podv {  position: relative;  margin-top:32px; height:auto; padding-top:0}

.sign-btns { width:370px; margin:0 auto}

a#s-face { display:block; color:#fff; font-size:11px; background:url(img/sign-faceb.png) no-repeat 4px 5px #316ce6;   width: 130px; padding: 13px 6px 9px 42px;font-family: 'Chalet-ParisNineteenSixty'; float: left; letter-spacing:1px; margin-right:12px; overflow:hidden; position:relative; font-weight:normal}
a#s-gplus { display:block;font-weight:normal; color:#fff; font-size:11px; background:url(img/sign-g-plus.png) no-repeat 4px 5px #f85530;   width: 130px; padding: 13px 6px 9px 42px;font-family: 'Chalet-ParisNineteenSixty'; float: left; letter-spacing:1px;  overflow:hidden; position:relative;}
a#s-face:before,
a#s-gplus:before { display:block; content:""; position:absolute; top:1px; bottom:1px;	left:33px; width:1px; height:30px; background:rgba(255,255,255,.3);}

a#s-face:hover,
a#s-gplus:hover { opacity:0.8} 
div#box-form3 {
	position: absolute;
    z-index: 2;
    top: 12px;}
	
#box-form3 input {
  font-family: 'Chalet-ParisNineteenSixty';
  font-size:18px;
  color:#404041;
  border-radius: 4px;
  padding:14px 50px 13px 15px;
  border:none;
      width: 195px;
    float: left;
	margin-right:18px}

#box-form3 input[type="submit"] {
	background: #ff0653;
    color: #fff;
    border: none;
    padding: 10px 20px 8px;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;}
	input[type="submit"]:hover { opacity:0.85}
	
#slidebar {
    position: absolute;
    top: 0;
	bottom:0;
    z-index: 0;
    background-color: rgba(43,43,43,0.95);
	width:250px;
	padding:35px;
	right:-350px;
	transition:0.5s
}
#slidebar.active { right:0; z-index:99}

#slidebar a { color:#c2c2c2; transition:0.2s;}
#slidebar a:hover { color:#fff}
#slidebar li a { font-size:15px; line-height:1.35; display:block} 
#slidebar ul { padding-left:0;    margin-top: 8px; position:relative}
#slidebar ul > li { padding-left:15px;}
#slidebar ul h3 { font-size:26px; margin: 35px 0 10px; color:#c2c2c2; position:relative}
#slidebar ul h3:before { content:""; display:block; width:27px; height:22px; position:absolute; left:-48px; top:1px; background: url(img/heart.png) top left no-repeat; }
#slidebar ul h3:first-child { margin-top:0}
#slidebar  img#close { position:absolute;    top: 45px;    right: 45px;    cursor: pointer;    z-index: 1;}