.input
    display block
    width 230px
    background-color white
    border 1px solid rgb(225, 225, 225)
    border-radius 2px
    color rgb(129, 128, 129)
    font-family 'Roboto', sans-serif
    font-size 14px
    font-weight 300
    line-height 14px
    padding 6px 10px
    height 30px
    
.inputSmall
    display inline-block
    vertical-align middle
    width 30px
    background-color white
    border 1px solid rgb(225, 225, 225)
    border-radius 2px
    color black
    font-family 'Roboto', sans-serif
    font-size 12px
    font-weight 300
    line-height 12px
    padding 0 3px
    height 16px
    margin-right 5px

.inputModal
    width 100%
    background-color white
    border 1px solid #cccccc
    border-radius 4px
    font-family 'Chalet-ParisNineteenSixty'
    outline 0
    font-size 16px
    line-height 18px
    color rgb(64, 64, 65)
    padding 14px 0px 13px 10px
    height 46px
    &MarginRight
        margin-right 7px

    &Small
        width 60px
.selectNative
    width 100%
    font-family 'Chalet-ParisNineteenSixty'
    font-size 16px
    color #404041
    border-radius 4px
    padding 14px 50px 13px 10px
    appearance none
    background-image url('../img/select.png')
    background-color #fff
    background-position right center
    background-repeat no-repeat
    line-height 1em
    text-indent 0.01px
    text-overflow ''
    appearance none !important
    float right
    border 1px solid #cccccc
    height 46px

.textareaModal
    width 100%
    background-color white
    border 1px solid #cccccc
    border-radius 4px
    font-family 'Chalet-ParisNineteenSixty'
    outline 0
    font-size 16px
    font-weight 300
    line-height 14px
    color rgb(64, 64, 65)
    padding 14px 0px 13px 10px
    height 100px
    &MarginRight
        margin-right 7px
