.label
    display block
    color rgb(110, 110, 110)
    font-family 'Roboto', sans-serif
    font-size 10px
    font-weight 300
    line-height 18px
    clear fix
    .icheckbox
        margin-right 10px

.labelCheckbox
    display block
    color rgb(110, 110, 110)
    font-family 'Roboto', sans-serif
    font-size 10px
    font-weight 300
    line-height 13px
    clear fix
    box horizontal middle left
    .icheckbox
        flex 0 0 13px
        margin-right 10px
    .labelCheckboxText
        flex 1

.payPopupItemTotal
    font-family 'Roboto', sans-serif
    line-height 18px
    color black
    font-size 18px
    font-weight 700
    span
        color rgb(118, 118, 118)
        font-size 14px
        font-weight 400
        margin-right 5px
