.popup
    display block
    position absolute
    left center
    top 20%
    //width 600px
    background-color white
    box-shadow 1.1px 3.8px 5px rgba(0, 0, 0, 0.14)
    //box horizontal top
    //align-items stretch
    visibility hidden
    opacity 0
    z-index 0
    min-width 300px
    padding 10px 30px 20px
    transition all .5s
    +below(374px)
        //width 320px
        width calc(100% - 40px)
        box vertical top
        top 60px
        left 0
        margin-left 10px
        transform translateX(0)
        //margin-left -2%
.popupMedium
    max-width 400px

.popupShow
    visibility visible
    opacity 1
    z-index 5000

.popupClose
    display block
    position absolute
    top 8px
    right 8px
.popupHeader
    display block
    color black
    font-family 'Roboto', sans-serif
    font-size 14px
    font-weight 300
    line-height 18px
    margin-bottom 10px
    clear fix
.popupForm
    display block
    width 100%

    clear fix


.popupFormItem
    flex 0 0 auto
    width 100%
    margin-bottom 12px
    &:last-child
        padding-top 10px
        margin-bottom 0px
    p
        color rgb(110, 110, 110)
        font-family 'Roboto', sans-serif
        font-size 14px
        font-weight 300
        line-height 18px
.popupFormItemRow
    flex 0 0 auto
    box horizontal middle left
    align-self stretch
    align-items stretch
.popupFormItemColumn
    flex 1
    &:first-child
        margin-right 20px
    input
        width 71px
